*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Raleway',  sans-serif;
    color: #ffffff
    ;
}

.bg-black{
    background-color: black;
}

.footer{
    text-align: center;
}

.iconos {
    font-size: 30px;
}

.iconos-footer{
    margin-left: 10px;
}